*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
*.suo
*.sdf

# Folders
obj/
bin/
*.xcuserstate

*.xcuserstate

*.plist

*.xcuserstate

vdome.xcodeproj/project.xcworkspace/xcuserdata/Charles.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcbkptlist

*.xcbkptlist

*.xcbkptlist

*.pbxproj
