# Files
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
*.suo
*.sdf
*.xcuserstate
*.plist
*.xcbkptlist
*.pbxproj
*.DS_Store
*.gitkeep
*.dll
*.ilk
*.lib
*.pdb
*.exe

# Bin
vdome.app
vdomeDebug.app

# Folders
obj/
bin/data/media






